/*Global*/
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glyp';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../fonts/glyphicons-halflings-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.row {
	margin: 0px;
}

body {
	font-family: "Roboto", sans-serif;
	background: #fff;
	width: 100%;
	font-size: 13px;
}

ul {
	margin: 0px;
	padding: 0px;
}

ul li {
	list-style: none;
}

a {
	color: inherit;
	font-family: inherit;
}

a:hover {
	font-style: italic;
	color: inherit;
	opacity: 0.8;
	text-decoration: none;
}

h1 {
	color: inherit;
	font-family: inherit;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0px 0px 15px;
	line-height: normal;
}

h2 {
	color: inherit;
	font-family: inherit;
	font-size: 18px;
	text-transform: capitalize;
	margin: 0px;
	line-height: normal;
}

h3 {
	color: inherit;
	font-family: inherit;
	font-size: 15px;
	text-transform: none;
	margin: 0px;
	line-height: normal;
}

h1.title {
	text-align: center;
	color: #fff;
	background: #fe9901;
	padding: 10px 0px;
	margin: 0px;
	text-transform: capitalize;
}

a:focus, a:hover {
	text-decoration: none;
}

img {
	width: 100%;
}

input {
	width: 100%;
	height: 34px;
	padding: 0px 10px;
	border: 1px solid #b1b1b1;
}

p.red-text {
	color: #ff1c00;
}

.button-grup {
	width: 100%;
	display: inline-block;
	text-align: right;
	float: none;
	margin-top: 20px;
}

.button-red {
    color: #fff;
    border: 1px solid #fe9901;
    background: #fe9901;
    min-width: 200px;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    float: none;
}

.block-header {
    position: relative;
    height: 21px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px;
}

.block-header hr {
    position: relative;
    width: 100%;
    top: 11px;
    border: 1px solid #fe9901;
    border-bottom: 0;
    margin: 0px;
}

.block-header h1 {
    font-weight: 400;
    font-size: 23px;
    position: relative;
    background-color: #fff;
    font-family: Helvetica, "Helvetica-Normal", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    line-height: 1;
    padding: 0 20px;
    display: inline-block !important;
    color: #000000;
    max-width: 80%;
}

/*Header*/
#header {
	width: 100%;
    display: block;
    background: #fff;
    position: fixed;
    top: 0px;
    z-index: 1000;
    border-bottom: 3px solid #fe9901;
}

#header-container {
	width: 100%;
	height: 55px;
	max-width: 1024px;
	padding: 0px 25px;
	margin: 0 auto;
}

.logo-header {
	display: inline-block;
    float: left;
    padding-top: 10px;
}

.logo-header img {
	max-width: 100%;
	width: 190px;
}

.menu-list {
	display: inline-block;
	float: right;
	margin-top: 16px;
}

.menu-list li a {
    font-size: 15px;
    color: #fe9901;
    text-transform: capitalize;
}

.menu-list li a:hover { 
	font-style: normal;
}

.menu-list li a .fa {
	margin-right: 5px;
}

.menu-list li {
	display: inline-block;
	float: left;
	padding: 0px 10px;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

.menu-list li:last-child {
	padding-right: 0px;
}

/* Main */
#main-container {
    max-width: 1024px;
    min-height: 500px;
    padding: 70px 25px 0px;
    margin: 0 auto;
}

/*Footer*/
#footer {
	width: 100%;
	display: block;
	background: #282b2a;
	color: #fff;
	text-align: center;
	display: inline-block;
	margin-top: 50px;
}

#footer .copy-right {
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #202020;
	font-family: lato;
	font-size: 12px;
	padding: 10px;
}

#footer-container {
	width: 100%;
	max-width: 1024px;
	padding: 25px;
	margin: 0 auto;
	display: inline-block;
	text-align: left;
}

#footer-container  h1 {
	font-size: 15px;
}

.bantuan-footer {
	width: 30%;
	float: left;
	display: inline-block;
}

.bantuan-footer a {
	width: 100%;
	display: inline-block;
	font-size: 13px;
	color: #fff;
}

.media-sosial {
	width: 20%;
	float: left;
	display: inline-block;
	font-size: 13px;
}

.media-sosial li {
	font-size: 13px;
}

.media-sosial .fa {
	width: 20px;
}

.rute-footer {
	width: 50%;
	float: left;
	display: inline-block;
}

.rute-footer ul {
	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    font-size: 13px;
}



/*Ticket search*/
.ticket-search {
	width: 350px;
	max-width: 30%;
	padding-left: 20px;
	display: inline-block;
	float: right;
}

.ticket-search label { 
	font-size: 15px;
	width: 100%;
}

.ticket-search .btn-group.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}

.ticket-search .bootstrap-select .dropdown-toggle:focus, .ticket-search .bootstrap-select.btn-group .dropdown-menu li, .ticket-search .bootstrap-select.btn-group .dropdown-menu li a {
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
}

.search-form {
    background: #f5f5f5;
    width: 100%;
    padding: 20px;
}

.search-form .input-list {
	font-size: 15px;
	margin-bottom: 15px;
}

.search-form .input-list .fa {
	margin-right: 8px;
}

.search-form .input-list select, .search-form .input-list input {
    width: 100%;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #000;
}
.input-list input::-webkit-input-placeholder {
   color: #000;
}

.input-list input:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

.input-list input::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

.input-list input:-ms-input-placeholder {  
   color: #000;  
}

/*Search Top*/
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	max-width: 100%;
	width: 100%;
}

.toogle-menu .toogle-menu-a {
    display: inline-block;
    width: 100%;
    background: #fff;
    text-align: center;
    color: #000;
    padding: 10px;
    position: relative;
    border: 1px solid #b1b1b1;
}

.toogle-menu .toogle-menu-a h1 {
	margin: 0px;
	font-size: 20px;
	text-transform: capitalize;
}

.toogle-menu .toogle-menu-a .fa {
	position: absolute;
	right: 15px;
	top: 13px;
}

.search-form.search-top {
	padding: 20px;
    border: 1px solid #b1b1b1;
    border-top: 0px;
}

.search-form.search-top form {
	display: inline-block;
}

.search-form.search-top .input-list,  .search-form.search-top .btn.btn-search {
	width: 25%;
	float: left;
	display: inline-block;
}

.search-form.search-top .input-list {
	padding: 0px 10px;
	margin: 0px;
}

.search-form.search-top .btn.btn-search { 
	font-size: 15px;
	padding: 0px;
	height: 35px;
	margin-top: 25px;
}

div.ui-datepicker {
 	font-size: 20px;
}

div.ui-datepicker table.ui-datepicker-calendar {
 	font-size: 15px;
} 

.search-form .bootstrap-select.btn-group .dropdown-toggle .filter-option {
	color: #a9a9a9;
}

.search-form .bootstrap-select>.dropdown-toggle {
	border-radius: 0px;
}

.search-form .btn.btn-search {
	width: 100%;
	border-radius: 0px;
	background: #5bc0de;
	color: #fff;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 15px;
    padding: 8px 0px;
}

.search-form .btn.btn-search:hover {
	opacity: 0.8;
}

/*Search Result*/

.hasil-pencarian-content {
	margin-top: 10px;
}

.top-info {
    background: #fe9901;
    padding: 15px 0px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}

.date-info .fa {
	margin-right: 10px;
}

.top-info .date-info {
	text-align: right;
}

.result-search th {
	background: #5bc0de;
	color: #fff;
    padding: 6px 10px;
    font-size: 15px;
}

.result-search th:first-child {
	padding: 6px 20px;
}

.result-search td {
	width: 16.66%;
	vertical-align: top;
	padding: 10px;
	border-bottom: 1px solid #5bc0de;
	color: #666;
	font-size: 14px;
}

.result-search td.search-img img {
	max-width: 100px;
    margin: 0 auto;
    display: block;
}

.result-search .plat-no {
	color: #000;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 5px;
}

.result-search td:first-child {
	padding: 10px 20px;
}

td.search-tipe span, td.search-time span {
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
	font-size: 15px;
}

td.search-capacity span {
	color: #000;
	font-weight: bold;
	font-size: 20px;
}

td.search-price span {
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
	font-size: 20px;
}

td.search-order .order-button {
	max-width: 100%;
	border: 2px solid #ff1c00;
	color: #ff1c00;
	padding: 5px 20px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	background: transparent;
}

/*Data Penumpang */
.kursi-wrapper {
	width: 100%;
	display: inline-block;
	float: left;
	background: #f5f5f5;
    -webkit-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    text-align: center;
    padding: 15px;
}
.kursi-list {
	width: 245px;
	display: inline-block;
    padding: 0px;
}
.kursi-list ul {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.kursi-list ul li {
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 3px;
}
.kursi-list .total-kursi-18 ul li:nth-child(2), .kursi-list .total-kursi-21 ul li:nth-child(2) {
	margin-left: 20px;
}
.kursi-list .total-kursi-28 ul li:nth-child(2) {
	margin-right: 20px;
}
.kursi-list .checkbox {
	margin: 0px;
}
.kursi-list .checkbox label{
	display: inline-block;
	width: 45px;
	height: 40px;
	text-align: center;
	border: 1px solid #000;
	padding: 10px 0px;
}
.kursi-list .checkbox input {
	display: none;
}
.kursi-list .checkbox.active label{
	background: #5bc0de;
	color: #fff;
}
.kursi-list .checkbox.sold label {
	background: #ff1c00;
	color: #fff;
}
.kursi-list .checkbox:hover label{
	opacity: 1;
}

.kursi-wrapper .bus-info {
    display: inline-block;
    font-size: 17px;
    width: 245px;
    padding: 0px 15px;
    margin-bottom: 10px;
}
.bus-info .plat-no {
	display: inline-block;
	float: left;
}

.bus-info .fa {
	float: right;
	font-size: 20px;
}

.pilih-kursi {
	width: 30%;
	float: left;
}

.pilih-kursi h1 {
	margin: 0px;
	background: #fe9901;
	padding: 10px;
	text-align: center;
	color: #fff;
	text-transform: capitalize;
}

.penumpang-content {
	width: 70%;
	float: left;
	padding-left: 15px;
}

.penumpang-content h1 {
	margin: 0px;
	background: #fe9901;
	padding: 10px 15px;
	color: #fff;
	text-transform: capitalize;
}

.penumpang-content h1 .jumlah-ticket {
	float: right;
}

.penumpang-kelamin label {
	font-size: 14px;
	color: #000;
}

.penumpang-list {
	margin-top: 5px;
}

.penumpang-list li h2 {
	padding: 10px 15px;
	background: #5bc0de;
	color: #fff;
}
.penumpang-list li {
	display: inline-block;
	width: 100%;
	background: #fff;
}
.penumpang-list .penumpang-name, .penumpang-list .penumpang-kelamin {
	width: 50%;
	float: left;
	padding: 10px 15px;
}

.penumpang-list .penumpang-name label, .penumpang-list .penumpang-kelamin h3 {
	font-size: 15px;
	color: #000;
	font-weight: bold;
}

.penumpang-list .penumpang-kelamin .radio input[type=radio] {
	margin-top: -7px;
    max-width: 14px;
}

.penumpang-contact {
	display: inline-block;
	width: 100%;
	background: #fff;
}

.penumpang-contact > div {
	width: 50%;
	float: left;
	display: inline-block;
    padding: 10px 15px;
}

.penumpang-contact h2 {
	margin: 0px;
	background: #2196f3;
	padding: 10px 15px;
	color: #fff;
	text-transform: capitalize;
}

.data-penumpang .buttom-wrapper, .pembayaran .buttom-wrapper {
	display: inline-block;
	width: 100%;
	text-align: right;
	margin-top: 20px;
}

.data-penumpang .buttom-wrapper .batal-btn, .data-penumpang .buttom-wrapper .lanjut-btn, .pembayaran .buttom-wrapper .batal-btn, .pembayaran .buttom-wrapper .finish-btn {
	min-width: 200px;
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}

.data-penumpang .buttom-wrapper .batal-btn, .pembayaran .buttom-wrapper .batal-btn {
	color: #000;
	border: 1px solid #000;
}

.data-penumpang .buttom-wrapper .lanjut-btn, .pembayaran .buttom-wrapper .finish-btn { 
	color: #fff;
	border: 1px solid #fe9901;
	background: #fe9901;
}

/*Pembayaran*/
.total-price-wrapper {
	width: 25%;
	float: left;
	display: inline-block;
    -webkit-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    text-align: center;
}

.total-price-wrapper .total-price {
    background: #f5f5f5;
    padding: 20px 0px;
    margin-top: 5px;
    font-size: 20px;
    color: #ff1c00;
    font-weight: bold;
}

.detail-order {
	width: 75%;
	display: inline-block;
	float: left;
	padding-left: 15px;
}

.total-price-wrapper h1, .detail-order h1 {
	margin: 0px;
	background: #fe9901;
	padding: 10px 15px;
	color: #fff;
	text-transform: capitalize;
}

.detail-list {
	background: #fff;
	padding-bottom: 20px;
}

.detail-list li {
	width: 100%;
	display: inline-block;
}

.detail-list li h2 {
    padding: 8px 15px;
    background: #5bc0de;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 5px;
}

.detail-list li table {
	width: 100%;
	font-size: 14px;
    margin: 10px 0px 15px;
}

.detail-list li table td, .detail-list li table th {
	padding: 3px 15px;
}

.detail-list li table th {
	font-weight: bold;
	font-size: 15px;
}

.detail-list .detail-ticket td {
	width: 50%;
}

/*Bantuan*/
.bantuan-menu {
	width: 30%;
	float: left;
	display: inline-block;
    -webkit-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
}

.bantuan-menu h2 {
	margin: 0px;
    background: #fe9901;
    padding: 10px 15px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}

.bantuan-menu .nav-tabs>li {
	width: 100%;
}

.bantuan-menu .nav-tabs>li>a {
	padding: 0px;
    border: 0px;
    line-height: normal;
    margin-bottom: 10px;
    margin-right: 0px;
}

.bantuan-content.tab-content>.active {
	display: inline-block;
	margin-top: -285px; 
  	padding-top: 285px;
}

.bantuan-menu .nav-tabs>li>a:hover {
	border: 0px;
	background: transparent;
}

.bantuan-menu .nav-tabs>li.active>a, .bantuan-menu .nav-tabs>li.active>a:focus, .bantuan-menu .nav-tabs>li.active>a:hover {
    background: transparent;
    border: 0px;
    font-style: normal;
    text-decoration: underline;
}

.bantuan-menu .nav-tabs {
    border: 0px;
    padding: 15px;
    font-size: 15px;
}

.bantuan-content {
	width: 70%;
	display: inline-block;
	padding-left: 15px;
}

.contact-wrapper h2 {
	margin-bottom: 7px;
}

.contact-wrapper .perwakilan-head {
	width: 40%;
}

.contact-wrapper .perwakilan-phone {
	width: 60%;
}

.contact-wrapper .perwakilan-head, .contact-wrapper .perwakilan-phone {
	display: inline-block;
	float: left;
	padding-left: 15px;
}

.contact-wrapper .perwakilan-phone li span {
	width: 90px;
	display: inline-block;
	float: left;
}

/*Check ticket*/
.check-wrapper {
	margin-top: 20px;
	margin-bottom: 50px;
}

.check-wrapper .check-content {
	margin: 0 auto;
    float: none;
    clear: both;
}
/*User login*/
.users {
	margin-top: 20px;
	margin-bottom: 50px;
}

.users-content {
	margin: 0 auto;
    float: none;
    clear: both;
}

.users div.input {
	margin-bottom: 15px;
}

.users label {
	color: #000;
	font-size: 15px;
}

/*Print ticket*/
#ticketpri-wrapper .header h1 {
	font-size: 20px !important;
}

#ticket-content .table, #ticket-content .table th, #ticket-content .table td {
	font-size: 13px !important;
}

#ticket-content h2 {
	font-size: 15px !important;
}

#ticketpri-wrapper .perhatian-info {
	font-size: 13px !important;
	padding: 15px 20px !important
}

.print-ticket {
    width: 100%;
    border-radius: 0px;
    background: #5bc0de;
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 8px 0px;
    border-style: none;
    max-width: 300px;
    display: inline-block !important;
}

/* Home Styling*/

.top-home {
	position: relative;
}

/*Slider*/
.home-slider {
	width: 70%;
	display: inline-block;
	float: left;
	padding: 0px;
	max-height: 370px;
	height: auto;
	overflow: hidden;
	-webkit-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
}

.home-slider .slider-list {
	position: relative;
}

.home-slider .owl-custom-next,  .home-slider .owl-custom-prev {
	width: 40px;
	height: 40px;
    font-size: 25px;
    cursor: pointer;
    color: #fe9901;
}

.home-slider .owl-custom-next {
	position: absolute;
	top: 170px;
	right: -1px;
    padding: 5px 14px;
}

.home-slider .owl-custom-prev {
	position: absolute;
	top: 170px;
	left: -1px;
	padding: 5px 10px;
}

/*Cara Pemesanan*/
.cara-pemesanan-desc {
	display: inline-block;
	width: 100%;
	margin-top: 35px;
	padding-top: 35px;
}

.bantuan-page .cara-pemesanan-desc {
	margin-top: 0px;
	padding-top: 0px;
}

.cara-pemesanan-desc h1 {
	text-align: center;
}

.cara-pemesanan-desc li {
	width: 20%;
	float: left;
	display: inline-block;
	text-align: center;
	padding: 0px 20px;
}

.cara-pemesanan-desc .fa {
	font-size: 35px;
	border: 1px solid #fe9901;
	text-align: center;
	width: 100%;
	margin: 20px 0px;
	padding: 30px 0px;
	color: #fe9901;
}

.cara-pemesanan-desc .info {
    font-size: 15px;
    color: #6c6d6c;
    line-height: 1.3;
}

.menulist-mobile {
	display: none;
}

.message {
	width: 100%;
	max-width: 1024px;
	padding: 0px 25px;
	margin: 0 auto;
}

/*Responsive*/
@media only screen and (max-width: 960px) {
	.home-slider {
		width: 60%;
	}

	.ticket-search {
		max-width: 40%;
	}

	#main-container {
	    padding: 70px 10px 0px;
	}

	#header-container {
		padding: 0 10px;
	}

	#footer-container {
		padding: 25px 10px;
	}
}

@media only screen and (max-width: 767px) {
	.home-slider {
		width: 100%;
	}

	.home-slider .owl-custom-nav {
		display: none;
	}

	.ticket-search {
		max-width: 100%;
		width: 100%;
		padding-left: 0px;
		margin-top: 20px;
	}

	.block-header hr {
		display: none;
	}

	.block-header h1 {
		width: 100%;
		max-width: 100%;
		font-size: 20px;

	}

	.logo-header {
		text-align: center;
	    display: block;
	    margin: auto;
	    float: none;
	    max-width: 30%;
	    min-width: 300px;
	}

	.logo-header img {
		margin: 0 auto;
	}

	#header-container {
		position: relative;
	}

	.menu-list {
	    position: absolute;
	    display: none;
	    width: 100%;
	    float: none;
	    left: 0px;
	    top: 60px;
	    text-align: center;
	    background: #fe9901;
	    margin: 0px;
	    padding: 10px 0px;
	}

	.menu-list li {
		float: left;
	    width: 100%;
	    text-align: left;
	    padding-left: 20px;
	}

	.menu-list li a {
		color: #fff;
	}

	.menulist-mobile {
	    width: auto;
	    display: inline-block;
	    position: absolute;
	    left: 15px;
	    top: 10px;
	    font-size: 25px;
	    color: #fe9901;
	    cursor: pointer;
	}

	.cara-pemesanan-desc  {
		padding-top: 0px;
	}

	.cara-pemesanan-desc li {
		width: 100%;
	}

	.bantuan-footer, .media-sosial, .rute-footer {
		width: 100%;
	    text-align: center;
    	margin-bottom: 25px;
	}

	.search-form.search-top .input-list {
		margin-bottom: 20px;	
	}

	.search-form.search-top .btn.btn-search {
		margin-top: 0px;
	}

	.search-form.search-top .input-list, .search-form.search-top .btn.btn-search {
		width: 100%;
	}

	.top-info {
		padding: 10px 0px;
	}

	.top-info .date-info {
		margin-top: 10px;
	}

	.result-search table {
		display: inline-block;
		width: 100%;
	}

	.result-search table thead {
		display: none;
	}

	.result-search table tr {
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid #5bc0de;
	    padding: 10px 0px;
	}

	.result-search table td {
		display: inline-block;
		border-bottom: 0px;
	}

	.result-search table td.search-img{
		width: 100%;
		float: none;
	}

	.result-search table td.search-tipe, .result-search table td.search-time {
		width: 50%; 
		float: left;
	}

	.result-search table td.search-capacity {
		width: 100%;
	    padding-top: 0px;
	}

	.result-search table td.search-order, .result-search table td.search-price {
		float: right;
		width: 50%;
	}

	.result-search table td.search-order .order-button {
		width: 100%;
	}

	.pilih-kursi {
		width: 100%;
	}

	.penumpang-content {
		width: 100%;
		padding-left: 0px;
		margin-top: 20px;
	}

	.penumpang-content h1 {
		display: inline-block;
		width: 100%;
	}

	.penumpang-content h1 span {
		width: 100%;
	}

	.data-penumpang .buttom-wrapper .lanjut-btn, .pembayaran .buttom-wrapper .finish-btn, .data-penumpang .buttom-wrapper .batal-btn, .pembayaran .buttom-wrapper .batal-btn {
		width: 100%;
		margin-top: 10px;
	}

	.total-price-wrapper {
		width: 100%;
	}

	.detail-order {
		width: 100%;
		padding-left: 0px;
		margin-top: 20px;
	}

	.ticket-summary #main-container {
		overflow-y: hidden;
	}

	.bantuan-menu {
		width: 100%;
	}

	.bantuan-content {
		width: 100%;
		padding-left: 0px;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 560px) {
	.contact-wrapper .perwakilan-head {
		width: 100%;
	}

	.contact-wrapper .perwakilan-phone {
		width: 100%;
	}
}

