/*Global*/
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glyp';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../fonts/glyphicons-halflings-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.row {
	margin: 0px;
}

body {
	font-family: "Roboto", sans-serif;
	background: #f9f9f9;
	width: 100%;
	font-size: 13px;
}

ul {
	margin: 0px;
	padding: 0px;
}

ul li {
	list-style: none;
}

a {
	color: inherit;
	font-family: inherit;
}

a:hover {
	font-style: italic;
	color: inherit;
	opacity: 0.8;
	text-decoration: none;
}

h1 {
	color: inherit;
	font-family: inherit;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0px 0px 15px;
	line-height: normal;
}

h2 {
	color: inherit;
	font-family: inherit;
	font-size: 18px;
	text-transform: capitalize;
	margin: 0px;
	line-height: normal;
}

h3 {
	color: inherit;
	font-family: inherit;
	font-size: 15px;
	text-transform: none;
	margin: 0px;
	line-height: normal;
}

h1.title {
	text-align: center;
	color: #fff;
	background: #f76e5d;
	padding: 10px 0px;
	margin: 0px;
}

a:focus, a:hover {
	text-decoration: none;
}

img {
	width: 100%;
}

input {
	width: 100%;
	height: 34px;
	padding: 0px 10px;
	border: 1px solid #b1b1b1;
}

p.red-text {
	color: #ff1c00;
}

.button-grup {
	width: 100%;
	display: inline-block;
	text-align: right;
	float: none;
	margin-top: 20px;
}

.button-red {
    color: #fff;
    border: 1px solid #f76e5d;
    background: #f76e5d;
    min-width: 200px;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    float: none;
}

.block-header {
    position: relative;
    height: 21px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px;
}

.block-header hr {
    position: relative;
    width: 100%;
    top: 11px;
    border: 1px solid #9e9e9e;
    border-bottom: 0;
    margin: 0px;
}

.block-header h1 {
    font-weight: 400;
    font-size: 23px;
    position: relative;
    background-color: #f9f9f9;
    font-family: Helvetica, "Helvetica-Normal", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    line-height: 1;
    padding: 0 20px;
    display: inline-block !important;
    color: #000000;
    max-width: 80%;
}

/*Header*/
#header {
	width: 100%;
	display: block;
	background: #f76e5d;
	position: fixed;
	top: 0px;
	z-index: 1000;
}

#header-container {
	width: 100%;
	height: 55px;
	max-width: 1024px;
	padding: 0px 25px;
	margin: 0 auto;
}

.logo-header {
	display: inline-block;
    float: left;
    padding-top: 10px;
}

.logo-header img {
	max-width: 100%;
	width: 190px;
}

.menu-list {
	display: inline-block;
	float: right;
	margin-top: 16px;
}

.menu-list li a {
    font-size: 15px;
    color: #000;
    text-transform: capitalize;
}

.menu-list li a .fa {
	margin-right: 5px;
}

.menu-list li {
	display: inline-block;
	float: left;
	padding: 0px 10px;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
}

.menu-list li:last-child {
	padding-right: 0px;
}

/* Main */
#main-container {
    max-width: 1024px;
    padding: 65px 25px 0px;
    margin: 0 auto;
}

/*Footer*/
#footer {
	width: 100%;
	display: block;
	background: #282b2a;
	color: #fff;
	text-align: center;
	display: inline-block;
	margin-top: 50px;
}

#footer .copy-right {
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #202020;
	font-family: lato;
	font-size: 12px;
	padding: 10px;
}

#footer-container {
	width: 100%;
	max-width: 1024px;
	padding: 25px;
	margin: 0 auto;
	display: inline-block;
	text-align: left;
}

.bantuan-footer {
	width: 30%;
	float: left;
	display: inline-block;
}

.bantuan-footer a {
	width: 100%;
	display: inline-block;
	font-size: 15px;
	color: #fff;
}

.media-sosial {
	width: 20%;
	float: left;
	display: inline-block;
	font-size: 15px;
}

.media-sosial li {
	font-size: 15px;
}

.media-sosial .fa {
	width: 20px;
}

.rute-footer {
	width: 50%;
	float: left;
	display: inline-block;
}

.rute-footer ul {
	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    font-size: 15px;
}



/*Ticket search*/
.ticket-search {
	width: 40%;
	display: inline-block;
	float: left;
	-webkit-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
}

.ticket-search label { 
	font-size: 15px;
	width: 100%;
}

.ticket-search .btn-group.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}

.ticket-search .bootstrap-select .dropdown-toggle:focus, .ticket-search .bootstrap-select.btn-group .dropdown-menu li, .ticket-search .bootstrap-select.btn-group .dropdown-menu li a {
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
}

.search-form {
	background: #f5f5f5;
	width: 100%;
	padding: 20px 40px 40px;
}

.search-form .input-list {
	font-size: 15px;
	margin-bottom: 15px;
}

.search-form .input-list .fa {
	margin-right: 8px;
}

/*Search Top*/
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	max-width: 100%;
	width: 100%;
}

.toogle-menu .toogle-menu-a {
    display: inline-block;
    width: 100%;
    background: #fff;
    text-align: center;
    color: #000;
    padding: 10px;
    position: relative;
    border: 1px solid #b1b1b1;
}

.toogle-menu .toogle-menu-a h1 {
	margin: 0px;
	font-size: 20px;
	text-transform: capitalize;
}

.toogle-menu .toogle-menu-a .fa {
	position: absolute;
	right: 15px;
	top: 13px;
}

.search-form.search-top {
	display: none;
	padding: 20px;
    border: 1px solid #b1b1b1;
    border-top: 0px;
}

.search-form.search-top form {
	display: inline-block;
}

.search-form.search-top .input-list,  .search-form.search-top .btn.btn-search {
	width: 25%;
	float: left;
	display: inline-block;
}

.search-form.search-top .input-list {
	padding: 0px 10px;
	margin: 0px;
}

.search-form.search-top .btn.btn-search { 
	font-size: 15px;
	padding: 0px;
	height: 35px;
	margin-top: 25px;
}

div.ui-datepicker {
 	font-size: 20px;
}

div.ui-datepicker table.ui-datepicker-calendar {
 	font-size: 15px;
} 

.search-form .bootstrap-select.btn-group .dropdown-toggle .filter-option {
	color: #a9a9a9;
}

.search-form .bootstrap-select>.dropdown-toggle {
	border-radius: 0px;
}

.search-form .btn.btn-search {
	width: 100%;
	border-radius: 0px;
	background: #5bc0de;
	color: #fff;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 15px;
    padding: 12px 0px;
}

.search-form .btn.btn-search:hover {
	opacity: 0.8;
}


/*Search Result*/

.hasil-pencarian-content {
	margin-top: 10px;
}

.top-info {
    background: #f76e5d;
    padding: 15px 0px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}

.date-info .fa {
	margin-right: 10px;
}

.result-search th {
	background: #5bc0de;
	color: #fff;
    padding: 6px 10px;
    font-size: 15px;
}

.result-search th:first-child {
	padding: 6px 20px;
}

.result-search td {
	width: 16.66%;
	vertical-align: top;
	padding: 10px;
	border-bottom: 1px solid #5bc0de;
	color: #666;
	font-size: 14px;
}

.result-search td:first-child {
	padding: 10px 20px;
}

td.search-tipe span, td.search-time span {
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
	font-size: 15px;
}

td.search-capacity span {
	color: #000;
	font-weight: bold;
	font-size: 20px;
}

td.search-price span {
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
	font-size: 20px;
}

td.search-order .order-button {
	max-width: 100%;
	border: 2px solid #ff1c00;
	color: #ff1c00;
	padding: 5px 20px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
}

/*Data Penumpang */
.kursi-wrapper {
	width: 100%;
	display: inline-block;
	float: left;
	background: #f5f5f5;
    -webkit-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    text-align: center;
    padding: 15px;
}
.kursi-list {
	width: 245px;
	display: inline-block;
    padding: 0px;
}
.kursi-list ul {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.kursi-list ul li {
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 3px;
}
.kursi-list ul li:nth-child(2) {
	margin-left: 20px;
}
.kursi-list .checkbox {
	margin: 0px;
}
.kursi-list .checkbox label{
	display: inline-block;
	width: 45px;
	height: 40px;
	text-align: center;
	border: 1px solid #000;
	padding: 10px 0px;
}
.kursi-list .checkbox input {
	display: none;
}
.kursi-list .checkbox.active label{
	background: #5bc0de;
	color: #fff;
}
.kursi-list .checkbox.sold label {
	background: #ff1c00;
	color: #fff;
}
.kursi-list .checkbox:hover label{
	opacity: 1;
}

.kursi-wrapper .bus-info {
    display: inline-block;
    font-size: 17px;
    width: 245px;
    padding: 0px 15px;
    margin-bottom: 10px;
}
.bus-info .plat-no {
	display: inline-block;
	float: left;
}

.bus-info .fa {
	float: right;
	font-size: 20px;
}

.pilih-kursi {
	width: 30%;
	float: left;
}

.pilih-kursi h1 {
	margin: 0px;
	background: #f76e5d;
	padding: 10px;
	text-align: center;
	color: #fff;
	text-transform: capitalize;
}

.penumpang-content {
	width: 70%;
	float: left;
	padding-left: 15px;
}

.penumpang-content h1 {
	margin: 0px;
	background: #f76e5d;
	padding: 10px 15px;
	color: #fff;
	text-transform: capitalize;
}

.penumpang-content h1 .jumlah-ticket {
	float: right;
}

.penumpang-kelamin label {
	font-size: 14px;
	color: #000;
}

.penumpang-list {
	margin-top: 5px;
}

.penumpang-list li h2 {
	padding: 10px 15px;
	background: #5bc0de;
	color: #fff;
}
.penumpang-list li {
	display: inline-block;
	width: 100%;
	background: #fff;
}
.penumpang-list .penumpang-name, .penumpang-list .penumpang-kelamin {
	width: 50%;
	float: left;
	padding: 10px 15px;
}

.penumpang-list .penumpang-name label, .penumpang-list .penumpang-kelamin h3 {
	font-size: 15px;
	color: #000;
	font-weight: bold;
}

.penumpang-list .penumpang-kelamin .radio input[type=radio] {
	margin-top: -7px;
}

.penumpang-contact {
	display: inline-block;
	width: 100%;
	background: #fff;
}

.penumpang-contact > div {
	width: 50%;
	float: left;
	display: inline-block;
    padding: 10px 15px;
}

.penumpang-contact h2 {
	margin: 0px;
	background: #2196f3;
	padding: 10px 15px;
	color: #fff;
	text-transform: capitalize;
}

.data-penumpang .buttom-wrapper, .pembayaran .buttom-wrapper {
	display: inline-block;
	width: 100%;
	text-align: right;
	margin-top: 20px;
}

.data-penumpang .buttom-wrapper .batal-btn, .data-penumpang .buttom-wrapper .lanjut-btn, .pembayaran .buttom-wrapper .batal-btn, .pembayaran .buttom-wrapper .finish-btn {
	min-width: 200px;
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}

.data-penumpang .buttom-wrapper .batal-btn, .pembayaran .buttom-wrapper .batal-btn {
	color: #000;
	border: 1px solid #000;
}

.data-penumpang .buttom-wrapper .lanjut-btn, .pembayaran .buttom-wrapper .finish-btn { 
	color: #fff;
	border: 1px solid #f76e5d;
	background: #f76e5d;
}

/*Pembayaran*/
.total-price-wrapper {
	width: 25%;
	float: left;
	display: inline-block;
    -webkit-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    text-align: center;
}

.total-price-wrapper .total-price {
    background: #f5f5f5;
    padding: 20px 0px;
    margin-top: 5px;
    font-size: 20px;
    color: #ff1c00;
    font-weight: bold;
}

.detail-order {
	width: 75%;
	display: inline-block;
	float: left;
	padding-left: 15px;
}

.total-price-wrapper h1, .detail-order h1 {
	margin: 0px;
	background: #f76e5d;
	padding: 10px 15px;
	color: #fff;
	text-transform: capitalize;
}

.detail-list {
	background: #fff;
	padding-bottom: 20px;
}

.detail-list li {
	width: 100%;
	display: inline-block;
}

.detail-list li h2 {
    padding: 8px 15px;
    background: #5bc0de;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 5px;
}

.detail-list li table {
	width: 100%;
	font-size: 14px;
    margin: 10px 0px 15px;
}

.detail-list li table td, .detail-list li table th {
	padding: 3px 15px;
}

.detail-list li table th {
	font-weight: bold;
	font-size: 15px;
}

.detail-list .detail-ticket td {
	width: 50%;
}

/*Bantuan*/
.bantuan-menu {
	width: 30%;
	float: left;
	display: inline-block;
    -webkit-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
}

.bantuan-menu h2 {
	margin: 0px;
    background: #f76e5d;
    padding: 10px 15px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}

.bantuan-menu .nav-tabs>li {
	width: 100%;
}

.bantuan-menu .nav-tabs>li>a {
	padding: 0px;
    border: 0px;
    line-height: normal;
    margin-bottom: 10px;
    margin-right: 0px;
}

.bantuan-menu .nav-tabs>li>a:hover {
	border: 0px;
	background: transparent;
}

.bantuan-menu .nav-tabs>li.active>a, .bantuan-menu .nav-tabs>li.active>a:focus, .bantuan-menu .nav-tabs>li.active>a:hover {
	background: transparent;
	border: 0px;
	font-style: italic;
}

.bantuan-menu .nav-tabs {
    border: 0px;
    padding: 15px;
    font-size: 15px;
}

.bantuan-content {
	width: 70%;
	display: inline-block;
	padding-left: 15px;
}

.contact-wrapper h2 {
	margin-bottom: 7px;
}

.contact-wrapper .perwakilan-head, .contact-wrapper .perwakilan-phone {
	width: 50%;
	display: inline-block;
	float: left;
	padding-left: 15px;
}

/*User login*/
.users {
	margin-top: 20px;
	margin-bottom: 50px;
}

.users-content {
	margin: 0 auto;
    float: none;
    clear: both;
}

.users div.input {
	margin-bottom: 15px;
}

.users label {
	color: #000;
	font-size: 15px;
}


